.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        h4(class="ui inverted header") About
        .ui.inverted.link.list
          a(href="#", class="item") Sitemap
          a(href="#", class="item") Contact Us
          a(href="#", class="item") Religious Ceremonies
          a(href="#", class="item") Gazebo Plans
      .three.wide.column
        h4(class="ui inverted header") Services
        .ui.inverted.link.list
          a(href="#", class="item") Banana Pre-Order
          a(href="#", class="item") DNA FAQ
          a(href="#", class="item") How To Access
          a(href="#", class="item") Favorite X-Men
      .seven.wide.column
        h4(class="ui inverted header") Footer Header
        p Extra space for a call to action inside the footer that could help re-engage users.
