//- Following menu
.ui.large.top.fixed.hidden.menu
  .ui.container
    a(class="toc item")
      i(class="sidebar icon")
    a(class="active item") Home
    a(class="item") Lab
    a(class="item") About
    a(class="item") Contact
    .right.menu
      if (user)
        a.item(href="/people/#{user.slug}") #{user.username}
        a.item(href="/sessions/#{session.hash}?method=delete") Logout
      else
        .item
          a(href="/people", class="ui button") Log In
        .item
          a(class="ui primary button") Sign Up

//- Sidebar menu
.ui.vertical.inverted.sidebar.menu
  a(class="active item") Home
  a(class="item") Lab
  a(class="item") About
  a(class="item") Contact
  a(class="item") Lab
  a(class="item") Log In
  a(class="item") Sign Up
