extends layouts/default

block content
  .ui.segment
    h1 DATA

  script(src="/js/lab.js")


//  for powertrain in powertrains
//    include partials/powertrain
//      .ui.segment
//    form.ui.form(action="/powertrains", method="post")
//      .field
//        label Make
//        input(type="text", name="make")
//      .field
//        label Model
//        input(type="text", name="model")
//      .field
//        label Password
//        input(type="password", name="password")
//          button.ui.right.floated.primary.submit.button Register
//        i.icon.right.chevron
//          br(style="clear:both;")


