extends layouts/default

block content

  .ui.grid
    .row
      .four.wide.column

        h2 #{powerplant.make}
        h3 #{powerplant.model} #{powerplant.kv}

        .ui.statistic
          .value #{powerplants.length}
          .label powerplants
      .twelve.wide.column
        .ui.cards
          for powerplant in powerplants
            include partials/powerplant
